table.isDark tr:nth-child(odd),
.darkMenu {
  background-color: hsl(0, 0%, 21%) !important;
}

table.isDark tr:nth-child(even) {
  background-color: hsl(0, 0%, 30%) !important;
}

table.isDark td {
  color: hsl(0, 0%, 96%);
}
.footerDark a:hover,
table a:hover {
  color: hsl(217, 71%, 74%);
}
.textGain {
  color: green !important;
}

.textLoss {
  color: red !important;
}

.appBody {
  height: 100vh;
  background-color: hsl(0, 0%, 96%);
}
.appBodyDark {
  height: 100vh;
  background-color: hsl(0, 0%, 21%);
}

.footerDark {
  background-color: hsl(0, 0%, 21%);
}
.footerDark strong,
.footerDark p {
  color: hsl(0, 0%, 96%);
}

footer {
  position: absolute;
  bottom: 0; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */

  transform: translate(
    -50%,
    -50%
  ); /* This is a shorthand of
                                       translateX(-50%) and translateY(-50%) */
}
