table.isDark tr:nth-child(odd),
.darkMenu {
  background-color: hsl(0, 0%, 21%) !important;
}

table.isDark tr:nth-child(even) {
  background-color: hsl(0, 0%, 30%) !important;
}

table.isDark td {
  color: hsl(0, 0%, 96%);
}

table a:hover {
  color: hsl(217, 71%, 74%);
}
.textGain {
  color: green !important;
}

.textLoss {
  color: red !important;
}

.appBody {
  height: 100vh;
  background-color: hsl(0, 0%, 96%);
}
.appBodyDark {
  height: 100vh;
  background-color: hsl(0, 0%, 21%);
}
